
/* Sidebar */

/* Category */

.site-content > .sidebar .category-list {
    font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items a {
    background: var(--sky);
    padding: .6rem 1rem;
    margin: 1rem 0;
    border-radius: 3rem;
    width: 70%;
    color: #000;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    transition: all .3s ease;
}

.site-content>.sidebar .category-list .list-items a:hover {
    transform: translateX(.6rem);
}

/* Popular post */

.site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
    padding: .4rem .1rem;
    bottom: 0;
    left: 9rem;
    border-radius: 0;
    background: var(--white);
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}

